<div style="text-align: center">
	<!-- title of the page -->
	<div class="col-md-12">
		<h1> Welcome to Activity Tracker!</h1>
	</div>

	<!-- button container -->
	<div class="col-md-12">
		<h2>I am a... </h2>
		<div class="row">
			<div "col-md-14">
				<p>
					<%= link_to "Patient", new_patient_session_path%>
				</p>
			</div>
			<div "col-md-14">
				<p>
					<%= link_to "Administrator", "adminstrator" %>
				</p>
			</div>
		</div>
	</div>
</div