
<div style="text-align: center">
	<div class="col-md-12">
	</br>
	</br>
		<h1 style="font-size:35px">Welcome!  I am a... </h1>
		</br>
		</br>
		</br>

		<div class="row">
			<div "col-md-12">
				<p>
					<a class="btn btn-default btn-lg" style="font-size:20px" href="/patients/sign_in">
						Patient
					</a>
				</p>
			</div>
			</br>
			</br>

			<div "col-md-12">
				<p>
					<a class="btn btn-default btn-lg" style="font-size:20px" href="/admins/sign_in">
						Administrator
					</a>
				</p>
			</div>
		</div>
	</div>
</div>